.hex {
  width: var(--cell-width);
  height: calc(var(--cell-width) * 2 / 1.6);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 300ms;
  text-transform: uppercase;

  cursor: pointer;

  &.middle {
    background-color: var(--primary-color);
    &:active {
      background-color: var(--primary-color-dark);
    }
  }

  &.outer {
    background-color: var(--secondary-color);

    &:active {
      background-color: var(--secondary-color-dark);
    }
  }

  .letter {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &:active {
    transform: scale(0.8);
  }
}
