.container {
  --header-height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  background-color: var(--primary-color);
  height: var(--header-height);

  .content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: var(--max-content-width);
    justify-content: space-between;
  }
}
