.modal {
  padding: 0;
}

.header {
  --header-background: #f1f4f9;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: var(--header-background);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  text-align: center;
}

.body {
  padding: 10px;
  padding-top: 0;

  .stopRow {
    display: flex;
    align-items: center;

    .score {
      font-size: 12px;
      margin-left: 10px;
    }
  }
}

.level {
  text-transform: capitalize;
}

.resultBody {
  margin-top: 20px;
  margin-bottom: 10px;
}
